<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{_sections.title}}}</title>
    <link rel="stylesheet" href="/vendors/css/grid.css">
        <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="/resources/css/s.css">
    <script type="application/javascript">
{{!--         {{#if user}}
            var user={};
            user.username = '{{ username }}';
            user.rank = '{{ user.rank }}';
            {{#if profile}}
                user.name = '{{ profile.name}}';
                user.email = '{{ profile.email}}';
                {{#ifCond user.rank '1'}}
                    user.subject = '{{ profile.subject}}'
                {{else}}
                    user.branch = '{{profile.branch}}';
                    user.roll_no = '{{profile.roll_no}}';
                    user.year = '{{profile.year}}';
                {{/ifCond}}
            {{/if}}
        {{/if}} --}}
        </script>
</head>