    <div class="form-container">
        <form {{#if update}} action="javascript:update('teacher')" {{else}} method="POST" action="/teacher" {{/if}}>
            <h3>{{#if teacher}}Update{{else}}create{{/if}} Teacher</h3>
            {{#if errors}}
                {{#each errors}}
                    <div class="msg err ">
                        {{#with this}}
                            {{msg}}
                        {{/with}}
                    </div>
                {{/each}}
            {{/if}}
            <div class="input-field">
                <label for="name">Name :</label>
                <input type="text" name="name" id="name" required {{#if teacher}} value="{{teacher.name}}" {{else if data}} value="{{data.name}}" {{/if}}>
            </div>
            <div class="input-field">
                <label for="email">Email : </label>
                <input type="email" name="email" id="email" {{# if teacher}}value="{{teacher.email}}" {{else if data}} value="{{data.email}}" {{/if}}>
            </div>
            <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" {{# if teacher}}value="{{teacher.username}}" {{else if data}} value="{{data.username}}" {{/if}}>
            </div>
        <div class="input-field">
            <label for="department">Department</label>
            <select name="department" required id="department" onchange="departmentSelected('subject')">
                {{#if data}}
                    {{#each departments}}
                        {{#ifCond @root.data.department _id}}  
                        <option value="{{../_id}}" selected>{{../name}}</option>  
                        {{else}}   
                        <option value="{{../_id}}">{{../name}}</option>  
                        {{/ifCond}}
                    {{/each}}            
                        {{else}}
                    {{#each departments}}
                        <option value="{{_id}}">{{name}}</option>                
                    {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="input-field">
            {{!-- <label for="subject">Subject</label>
            <select name="subject" required id="subject"> --}}
            {{!-- </select> --}}
            <label for="subject">Subject</label>
            <select name="subject" required id="subject">
                {{!-- {{#if data}}
                    {{#each subjects}}
                        {{#ifCond @root.data.subject _id}}  
                        <option value="{{../_id}}" selected>{{../name}}</option>  
                        {{else}}   
                        <option value="{{../_id}}">{{../name}}</option> 
                        {{/ifCond}}
                    {{/each}}            
                {{else}}
                {{/if}} --}}
                {{#each subjects}}
                        <option value="{{_id}}">{{name}}</option>   
                {{/each}}
            </select>
        </div>



        <div class="input-field">
            <label for="designation">Designation : </label>
            <select name="designation" required id="designation">
                {{#if data}}
                    {{#each designations}}
                        {{#ifCond @root.data.designation _id}}  
                        <option value="{{../_id}}" selected>{{../name}}</option>  
                        {{else}}   
                        <option value="{{../_id}}">{{../name}}</option>  
                        {{/ifCond}}
                    {{/each}}            
                        {{else}}
                    {{#each designations}}
                        <option value="{{_id}}">{{name}}</option>                
                    {{/each}}
                {{/if}}
            </select>
        </div>
            <input type="hidden" name="_id" value={{teacher._id}}>
            <div class="input-field">
                <button type="submit" class="btn btn-submit" name="teacher-submit">Submit</button>
            </div>
            </form>
        </div>
{{#section 'title'}}new Teacher | Moodle{{/section}}