{{#with student}}    
 <div class="container">
         {{user}}
    <div class="row">
        <div class="col span-4-of-6 search-bar">
            <h2>{{name}}</h2>
        </div>
        <div class="col span-1-of-6 search-bar">
            <a href="/student/update/{{_id}}"><button class="btn btn-green">update</button></a>
        </div>
        <div class="col span-1-of-6 search-bar">
            <a href="javascript:del('{{_id}}','student')"><button class="btn btn-red"><i class="icon ion-md-trash"></i></button></a>
        </div>
    </div>
     <div class="field row">
             <span class="col span-1-of-3">Username : </span>
             <span class="col span-2-of-3">{{username}}</span>
     </div>
     <div class="field row">
             <span class="col span-1-of-3">Email : </span>
             <span class="col span-2-of-3">{{email}}</span>
     </div>
     <div class="field row">
             <span class="col span-1-of-3">Designation : </span>
             <span class="col span-2-of-3">{{designation.name}}</span>
     </div>    
     <div class="field row">
             <span class="col span-1-of-3">Department : </span>
             <span class="col span-2-of-3">{{department.name}}</span>
     </div>
     <div class="field row">
             <span class="col span-1-of-3">Roll no. : </span>
             <span class="col span-2-of-3">{{roll_no}}</span>
     </div>
     <div class="field row">
             <span class="col span-1-of-3">class : </span>
             <span class="col span-2-of-3">{{classs}}</span>
     </div>
     <div class="field row">
             <span class="col span-1-of-3">Enrolled in : </span>
             <span class="col span-2-of-3">{{classs}}</span>
     </div>
 </div>
{{/with}}
{{#section 'title'}}{{student.name}} | Moodle{{/section}}